<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="BTApp" connectionString="Data Source=BT-TMW;database=BTApp;uid=sa;pwd=BTsupport" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OLOXWebSvcsSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="OLOXWebSvcsSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://services.omnitracs.com:443/oloxWebWS/services/OLOXWebSvcs"
                binding="basicHttpBinding" bindingConfiguration="OLOXWebSvcsSoapBinding"
                contract="OLOXWebSvcs.OLOXWebSvcs" name="OLOXWebSvcs" />
        </client>
    </system.serviceModel>
</configuration>